<!DOCTYPE html>
<html ng-app="houseList">
<head>
  <title>House Editing</title>
  <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <script type="text/javascript" src="jquery-2.1.4.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="angular.min.js"></script>
    <script type="text/javascript" src="houses.js"></script>
    <script type="text/javascript" src="controller.js"></script>
</head>
  <body>
  <div class="site-wrapper container" ng-controller="editController">
    <div class="row" id="header">
      <h1>My Dream Houses</h1>
      <button class="btn btn-primary btn-xl" ng-click="changeView('add')">Add New House</button>
    </div>
    <div ng-show="view=='list'">
      <div class="item" ng-repeat="house in houses" ng-class-odd="'odd'" ng-class-even="'even'">
        <span class="col-md-4">{{$index+1}}: {{house.nickName}}</span>
        <div class="col-md-4 col-md-offset-4">
          <button class="btn btn-warning btn-lg" ng-click="editHouse($index)">Edit</button>
          <button class="btn btn-danger btn-lg" ng-click="deleteHouse($index)">Delete</button>
        </div>

      </div>
    </div>
    <div class="row" ng-show="view=='add'">
      <h2>Specify the Details of the house:</h2>
      <input type='text' class="form-control" ng-model="nickName" placeholder="House Name">
      <input type='text' class="form-control" ng-model="imgSrc" placeholder="Photo URL">
      <input type='text' class="form-control" ng-model="address" placeholder="Address">
      <input type='text' class="form-control" ng-model="city" placeholder="City">
      <input type='text' class="form-control" ng-model="state" placeholder="State">
      <input type='text' class="form-control" ng-model="zipCode" placeholder="Zip Code">
      <input type='text' class="form-control" ng-model="forSale" placeholder="For Sale/NOT for Sale">
      <input type='text' class="form-control" ng-model="salePrice" placeholder="Price">
      <input type='text' class="form-control" ng-model="estimatedPrice" placeholder="Zestimate">
      <input type='text' class="form-control" ng-model="discount" placeholder="How good a deal is it?">
      <input type='text' class="form-control" ng-model="estimatedMortgage" placeholder="Estimated Mortgage">
      <button class="btn btn-success btn-xl" ng-click="addNewHouse()">Add</button>
      <button class="btn btn-warning btn-xl" ng-click="changeView('list')">Cancel</button>
    </div>
    <div class="row" ng-show="view=='delete'">
      <h2>Confirm Delete</h2>
      <h4>Are you sure you want to delete this: '{{thisHouse.nickName}}'?</h4>
      <button class="btn btn-success btn-xl" ng-click="changeView('list')">No</button>
      <button class="btn btn-danger btn-xl" ng-click="confirmDelete()">Yes</button>
    </div>
    <div class="row" ng-show="view=='edit'">
      <input type="text" class="form-control" ng-model="nickName">
      <button class="btn btn-success btn-xl" ng-click="confirmEdit()">Save</button>
      <button class="btn btn-warning btn-xl" ng-click="changeView('list')">Cancel</button>
    </div>
  </div>
</body>
</html>