<!DOCTYPE html>
<html>
<head>
	<title>House List Edit Page</title>
	<script src="angular.min.js"></script>
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src = "homes.js"></script>
	<script src = "controller.js"></script>

</head>
<body>
<div class="site-wrapper container">
	
	<div class="row" id="header">
		<h1>My Dream Houses</h1>
	</div>

	<div ng-show="list" class="row">
		<div class="col-sm-5"></div>
		
	</div>

	<div ng-show="add">
		
	</div>

	<div ng-show="delete">
		
	</div>

	<div ng-show="edit">
		
	</div>
</div>
</body>
</html>

</head>
<body ng-controller="myController">
  <div class="container-fluid">
    <h1>My Houses List (in HTML)</h1>

    <div class="row">
      <div class="col-sm-5">
        <button class="btn btn-primary btn-lg" ng-click="addHouse()" ng-disabled="!enableAdd()">Add New House</button>
        <button class="btn btn-danger btn-lg" ng-click="removeHouses()">Clear All Houses</button>
      </div>
    <div class="col-sm-4 col-sm-offset-3">
      <input class="form-control input-lg" placeholder="Search" ng-model="searchHouses"/>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-3" ng-repeat="house in houses | filter:searchHouses">
        <h3>{{house.nicName}}</h3>
        <p><img src="{{house.imgSrc}}" width="{{house.width}}"></p>
        <h4>{{house.address}}<br />{{house.city}}, {{house.state}}  {{house.zip}}</h4>
        <h4>{{house.status}}</h4>
        <h4>${{house.price}}</h4>
        <h4>Zestimate: ${{house.Zestimate}}</h4>
        <h4>{{house.description}}</h4>
        <h4>Estimated Mortgage: ${{house.estMortgage}}</h4>
      </div>
    </div> 
  </div>
</body>